/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.btn-fill {
    color: white;
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.btn-outlined {
    color: #8d8d8d;
    background-color: #fff;
    border: 2px solid #c0c0c0;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.bg-lightblue {
    background-color: #45ABEA;
}

.bg-purple {
    background-color: #9C72E4;
}

.bg-green {
    background-color: #64C0A9;
}

.bg-orange {
    background-color: #F29E33;
}

.bg-pink {
    background-color: #D863A1;
}

.bg-yellow {
    background-color: #b0c926;
}

/* Generics */
body {
    font-family: "Roboto", sans-serif;
    background-color: #F6F8F9;
}

header {
    height: 70px;
    background-color: white;
}

h1 {
    display: inline-block;
    line-height: 70px;
    font-size: 36px;
    font-weight: 900;
}

main {
    background-color: white;
    max-width: 1080px;
    margin: 40px auto;
    border-radius: 5px;
}

ul {
    font-size: 20px;
    list-style-position: inside;
    list-style-type: none;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
#logo {
    vertical-align: middle;
}

/* Main Content */
.action-section {
    padding: 20px 50px;
}

.task-section {
    padding: 20px 50px;
}

.divider {
    height: 4px;
    background-color: #F6F8F9;
}

.task-status {
    font-size: 22px;
    font-weight: 800;
}

.list-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    border: 2px solid #64C0A9;
    color: #64C0A9;
    margin-right: 10px;
}

.list-cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    border: 2px solid #EA4439;
    color: #EA4439;
    margin-right: 10px;
}

.tag-category {
    color: white;
    font-size: 13px;
    padding: 7px 12px;
    border-radius: 20px;
}