/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Roboto", sans-serif;
    background-color: #F6F8F9;
}

header {
    height: 70px;
    background-color: white;
}

h1 {
    display: inline-block;
    line-height: 70px;
    font-size: 36px;
    font-weight: 900;
}

main {
    background-color: white;
    max-width: 1080px;
    margin: 40px auto;
    border-radius: 5px;
}

/* Header */
#logo {
    vertical-align: middle;
}

/* Main Content */